:root {
  --main-color: #183348;
  --text-align: center;
  --text-decoration: none;
}

.write {
  color: var(--main-color);
}

body {
  min-width: 355px;
}

.body1 {
  background-image: url("final.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  margin: 320px auto 100px auto;
  color: white;
  text-align: var(--text-align);
}

.home-head {
  text-align: var(--text-align);
}

.container {
  text-align: var(--text-align);
}

h1 {
  font-size: 100px !important;
  margin: 0 !important;
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 36px !important;
  margin: 0 !important;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 18px !important;
  margin: 15px !important;
  font-family: "Poppins", sans-serif;
}

.start {
  background-color: white;
  border-radius: 4px;
  border: 1px solid white;
  margin: 20px auto;
  padding: 10px 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 2ms linear;
}

.text-start {
  color: #18aab9;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-decoration: none;
}

.start:hover {
  background-color: #183348;
  border-radius: 4px;
  border: 1px solid #183348;
  margin: 20px auto;
  padding: 10px 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.text-start:hover {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-decoration: none;
}

.baloon-home {
  max-width: 100%;
  opacity: 80%;
}

.me {
  background-color: rgb(236, 236, 236);
  padding: 10px 20px 20px 20px;
  margin: 20px 10px;
  border-radius: 5px;
}

.about-head h1 {
  font-size: 48px !important;
}

.about-head p {
  font-size: 14px !important;
}

.shecodes {
  font-weight: 300;
  text-align: justify;
}

.metime {
  display: block;
  margin: auto;
  width: 100%;
}

.small-img {
  display: block;
  width: 100%;
}

.check-work {
  background-color: #18aab9;
  border-radius: 4px;
  border: 1px solid #18aab9;
  margin: 20px auto;
  padding: 10px 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 2ms linear;
  width: 100%;
}

.text-work {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-decoration: none;
}

.check-work:hover {
  background-color: #183348;
  border-radius: 4px;
  border: 1px solid #183348;
  margin: 20px auto;
  padding: 10px 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.text-work:hover {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-decoration: none;
}

@media (max-width: 600px) {
  .heading {
    text-align: center;
    margin: 250px auto 100px auto;
    color: white;
  }

  h1 {
    font-size: 65px !important;
    margin: 0 !important;
    font-family: "Playfair Display", serif;
  }

  h2 {
    font-size: 22px !important;
    margin: 0 !important;
    font-family: "Poppins", sans-serif;
  }
}

@media (max-width: 991px) {
  .metime {
    margin-top: 30px !important;
  }
}

@media (min-width: 1150px) {
  .metime {
    width: 80% !important;
  }
}
